body{
  margin: 0px;
  padding: 0px;
  background-color: grey;
}

.task-root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
}

.task-container{
  background-color: black;
  width: 800px;
  height: 200px;
  background: black;
  position: relative;
  padding-top: 50px;
}

.due-date{
  padding-left: 20%;
}

.task-info{
  padding-top: 5%;
  padding-left: 30%;
}





.task{
  color: white;
}
